<?xml version="1.0" encoding="utf-8"?>
<manifest package="preston.com.stockapp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true">
        <activity
            android:name=".HomeActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/home_banner"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PortfolioActivity"
            android:label="My Portfolio"
            />
        <activity
            android:name=".SearchActivity"
            android:label="Search"
            />
        <activity
            android:name=".IndividualStockActivity"
            android:label="Company Name"
            />
        <activity
            android:name=".ProfitLossActivity"
            android:label="Profit/Loss"
            />
    </application>


</manifest>